.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
.fttemplates/**
.all-contributorsrc
node_modules/**
test-fixtures/**
CHANGELOG.md
