.bg-primary {
  background-color: <primaryColor>;
}
.bg-secondary {
  background-color: <secondaryColor>;
}
.color-primary {
  background-color: <primaryColor>;
}
.color-primary {
  background-color: <secondaryColor>;
}
